<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Our Picks</title>
    <link rel="stylesheet" href="/css/theme.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/storefront">Storefront</a>
      <a href="/list">Our Picks</a>
      <a href="/table">Explore</a>
      <a href="/form">Contact</a>
    </nav>
    <h1>Our Picks</h1>
    <div class="list-container">
      <ul>
        <li>
          <h2>HEADPHONES</h2>
          <ol>
            <li>Sony WH-1000XM4</li>
            <li>Sennheiser Momentum 4</li>
            <li>Audio-Technica ATH-M50x</li>
          </ol>
        </li>
        <li>
          <h2>RECORD PLAYERS</h2>
          <ol>
            <li>Pro-Ject Debut Carbon DC</li>
            <li>Audio-Technica AT-LP120XUSB</li>
            <li>Rega Planar 1 Plus</li>
          </ol>
        </li>
        <li>
          <h2>SPEAKERS</h2>
          <ol>
            <li>Klipsch RP-600M Bookshelf Speakers</li>
            <li>ELAC Debut 2.0 B6.2 Bookshelf Speakers</li>
            <li>Q Acoustics 3050i Floorstanding Speakers</li>
          </ol>
        </li>
      </ul>
    </div>
    <div class="image-container">
      <img
        src="https://www.sony.ca/image/5d02da5df552836db894cead8a68f5f3?fmt=pjpeg&wid=330&bgcolor=FFFFFF&bgc=FFFFFF"
        alt="Headphones" />
      <img
        src="https://cdn.shopify.com/s/files/1/0105/4542/products/project-debutcarbondc-lidopen_1024x1024.jpg?v=1538426017"
        alt="Record Player" />
      <img
        src="https://cdn.elac.com/uploads/2018/02/29175637/DB6.2-1.png"
        alt="Speakers" />
    </div>
  </body>
</html>
